<li>
  <div id="project-<%= project.id %>">
    <div class="project-header">
      <div class="project-header-title">
        <span><i class="fa fa-calendar" aria-hidden="true"></i></span>
        <span class="project-header-name"><%= project.name %></span>
        <div class="project-header-options">
          <span><%= link_to content_tag('span', '', class: 'fa fa-pencil'), edit_project_path(project), remote: true, class: 'action' %></span>
          <span><%= link_to content_tag('span', '', class: 'fa fa-trash'), project, method: :delete, remote: true, class: 'action' %></span>
        </div>
      </div>
    </div>
    <div class='project-body'>
      <div class='new-task-container'>
        <%= simple_form_for Task.new, remote: true, validate: true do |f| %>
          <div class='new-task-input-group'>
              <%= f.input :title, label: false %>
              <%= f.input :priority, label: false, :as => :hidden, :input_html => { :value => 1 } %>
              <%= f.input :status, label: false, :as => :hidden, :input_html => { :value => false } %>
              <%= f.input :project_id, label: false, :as => :hidden, :input_html => { :value => project.id } %>
              <%= f.input :deadline, html5: true, label: false, :as => :hidden%>
            <div class="input-btn">
              <%= f.button :submit, label: false, class: 'btn btn-primary' %>
            </div>
          </div>          
        <% end %>
      </div>
      <div class="buffer">
        <ul id="tasks" class="tasks-list">
          <%= render partial: 'tasks/task', collection: project.tasks  %>
        </ul>
      </div>
    </div>
  </div>
</li>